 .exp {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .exp .title4 {
   color: rgb(255, 196, 112);
   font-size: 40px;
   background-color:  rgb(30, 30, 30);
   width: 700px;
   margin-top: 40px;
   margin-bottom: 70px;
   border-radius: 30px;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .exp .box1, .box2 {
  display: flex;
  width: 1450px;
  height: 300px;
  border-radius: 30px;
  background-color: rgb(30, 30, 30);
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
 }

 .exp .box1 h1, .box2 h1 {
  color: rgb(255, 196, 112);
  width: 100rm;
 }

 .exp .box1 p, .box2 p {
  font-size: 20px;
  font-weight: 500;
  color: rgb(187, 187, 187);
  line-height: 50px;
 }

 @media screen and (max-width: 1500px) {
.exp .box1 {
    width: 900px;
    height: 450px;
  }

  .exp .box2 {
    width: 900px;
    height: 450px;
  }
}