.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}

.project #title2 {
    color: rgb(255, 196, 112);
    font-size: 40px;
    background-color:  rgb(30, 30, 30);
    width: 700px;
    margin-bottom: 70px;
    border-radius: 30px;
    padding-bottom: 10px;
    /* border: solid 3px rgb(255, 196, 112); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.column1, .column2{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
}


.column1 #c1, #c2 {
    width: 790px;
    height: 550px;
    background-color:  rgb(30, 30, 30);
    color: rgb(187, 187, 187);
    margin-bottom: 20px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
    /* border: solid 3px rgb(255, 196, 112); */
}

.column1 #c1 div, .column1 #c2 div {
    height: 40px;
    width: 100px;
    border: solid 3px rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.column1 #c1 div:hover, .column1 #c2 div:hover {
    background-color: rgb(94, 94, 94);
}

.column1 #c1 {
    margin-right: 15px;
}

.column1 #c2 {
    margin-left: 15px;
}

.column1 #c1 p {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.column1 h1 {
    color: rgb(255, 196, 112);
    width: 100rm;
    text-align: center;
}

.column1 #c2 p { 
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
@media screen and (max-width: 1950px) {
    .column1 {
        flex-direction: column;
    }
    .column1 #c1 {
        margin-right: 0px;
        margin-left: 0px;
        width: 950px;
    }

    .column1 #c2 {
        margin-right: 0px;
        margin-left: 0px;
        width: 950px;
    }
}


@media screen and (max-width: 1280px) {
    .column1 #c1 {
        margin-right: 0px;
        margin-left: 0px;
        width: 700px;
    }

    .column1 #c2 {
        margin-right: 0px;
        margin-left: 0px;
        width: 700px;
    }
}
