/* This it the first section ################################################### */
.App {
  height: fit-content;
  background-color: rgb(30, 75, 99);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.name {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.name #one {
  color: white;
  font-size: 50px;
}

.name #two {
  color: white;
  font-size: 80px;
}

/* This is the second section ###################################################*/
.intro {
  color: white;
  height: fit-content;
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  background-color: rgb(12, 65, 135);
  margin-bottom: 20px;
  width: 1650px;
}

.intro #one1 {
  width: 1200px;
  height: fit-content;
  line-height: 50px;
  font-size: 20px;
  margin-right: 20px;
  text-align: justify;
}

.intro #two1 {
  width: 45%;
  height: fit-content;
  width: fit-content;
}

.intro #two1 img {
  height: 500px;
  margin-left: 20px;
  margin-top: 20px;
}

.intro #one1 #links a {
  width: 200px;
  display: inline-block;
  text-align: center;
  border: solid white;
}

.intro #one1 #links a:hover {
  background-color: rgb(57, 50, 59)
}

.intro #one1 #links {
  margin-top: 20px;
  text-align: center;
}


@media screen and (max-width: 1950px){
  .intro {
    flex-direction: column;
    align-items: center;
    width: 950px;
  }

  .intro #two1 img {
    padding-bottom: 20px;
    margin-left: 0px;
  }

  .intro #one1 {
    width: 900px;
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media screen and (max-width: 1280px){
  .intro {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }

  .intro #two1 img {
    padding-bottom: 20px;
    margin-left: 0px;
  }

  .intro #one1 {
    width: 375px;
    padding-left: 30px;
    padding-right: 30px;
  }

}
